.footer .container {
    background-color: rgb(32, 32, 32);
    height: 300px;
    position: sticky;
}

.footer a > img {
 width: 250px;
}

.footer h1 {
    margin: 0;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.footer a > i {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.footer a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.footer a:hover, .footer a:hover i, .footer i:hover {
    color: grey;
}

.footer .image {
    width: 55%;
    margin: 65px auto;
}

.footer .social-media {
    text-align: center;
    margin: 65px 0;
}

.footer .contact {
    text-align: center;
    margin: 65px 0;
}

.footer .development {
    text-align: center;
}

.footer .development a {
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.footer .development .link {
    transition: 0.3s;
    margin-right: 30px;
}

.footer .development .link:hover {
    color: grey;
}

.footer .development hr {
    border: 1px solid white;
    width: 600px;
}