.intro {
    background-image: url(images/intro_wpp.jpg);
    background-size: 100%;
}

.intro .container {
    background: linear-gradient(rgb(30, 42, 49), transparent);
}

/* social_media */

.intro .social_media {
    padding: 5px 0 0 5px;
}


.intro .social_media a {
    color: white;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s;
}

.intro .social_media a:hover, .intro .social_media a:hover i, .intro .social_media i:hover {
    color: grey;
}

.intro .social_media a > i {
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.intro .social_media .contact {
    margin-left: 180px;
}

/* title */

.intro .title {
    width: 100%;
    text-align: center;
    margin-top: 80px;
}

.intro .title a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.intro .title a > img {
    width: 350px;
}

/* menu */

.intro .menu {
    width: 100%;
    text-align: center;
    margin: 80px 0;
}

.intro .menu a {
    text-decoration: none;
    padding: 0;
    margin: 0 50px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 8px;
    transition: 0.3s;
}

.intro .menu a:hover {
    color: grey;
}

/* exemples */

.intro .exemples .images {
    position: absolute;
    right: 0;
}

.intro .exemples img {
    width: 300px;
    height: 500px;
    margin: 0 0 0 30px;
}